{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公开课：实战Django的留言版设计到部署</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static '/bootstrap-4.4.1-dist/css/bootstrap.min.css' %}" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?1c8a0f52566e6c9081bbbf5885cbefb2";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>

</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">知数堂</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">留言板 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://ke.qq.com/course/1650906?tuin=34432a0f" target="_blank">知数堂公开课：实战Django的留言版设计到部署 本周四晚上8点30分</a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>-->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Python课程" aria-label="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<main role="main" class="container" style="padding-top: 80px;">

    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary" role="alert">
          {{ message }}
        </div>
        {% endfor %}
    {% endif %}

    <div style="margin-top:20px;">
        <form method="post" action="{% url 'index' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="nickname_input">昵称</label>
                <input type="text" maxlength="64" name="username" class="form-control" id="nickname_input" placeholder="用户名">
            </div>

            <div class="form-group">
                <label for="comment_input">留言</label>
                <textarea class="form-control" name="content" id="comment_input" rows="3" maxlength="65535" placeholder="请文明留言"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">提交</button>
            </div>
        </form>

        {% if message_list %}
            {% for message in message_list %}
                <div class="card" style="margin-top: 10px;">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{message.username}}
                            <span class="text-muted" style="font-size: 0.9rem">
                                {{message.create_time | date:'Y-m-d H:i:s'}}
                            </span>
                        </h5>
                        <p class="card-text">留言：{{ message.content|safe }}</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>还没有人发表留言。</p>
        {% endif %}
    </div>

</main><!-- /.container -->

<footer class="text-center" style="margin-top: 10px">
<a href="http://www.beian.miit.gov.cn/" target="_blank">备案号：浙ICP备14008409号-2</a>
</footer>

<script src="{% static '/jslib/jquery.min.js' %}"></script>
<script src="{% static '/jslib/popper.js' %}"></script>
<script src="{% static '/bootstrap-4.4.1-dist/js/bootstrap.min.js' %}"></script>

</body>
</html>
